<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>？</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="lib/jquery-3.5.1.min.js"></script>
    <script src="lib/showdown.min.js"></script>
    <link rel="stylesheet" href="lib/h/default.min.css" />
    <script src="lib/vue.global.prod.js"></script>
    <script src="lib/h/highlight.min.js"></script>
    <link rel="stylesheet" href="lib/style.css" />
    <link rel="stylesheet" href="lib/katex.min.css" />
    <script src="lib/showdown-katex.min.js" ></script>
  </head>
  <body>
<div id="app">

    <div class=toolbar >

        <div>
            <input type=file @change="previewFiles" :disabled=sending />
            <input type=range min=0 max=2 step=0.01 v-model=temperature />
            <span>温度：{{temperature }}</span>
            <input type=range min=2000 max=5000 v-model=tokens_threshold />
            <span>tokens阀值：{{tokens_threshold<5000?tokens_threshold:''}}</span>
        </div>
       
        <a href=https://github.com/w2404/chat-doc target="_blank" >帮助</a>
    </div>

    <div class=history >

        <div v-for="(message,index) in messages" :class="'message message-'+message.role" >
            <div class=role v-if="message.role!='user'">
                {{message.role}}
                <br/>
                <input type=button :value="editing[index]?'完成':'编辑'" @click=editmessage(index) :disabled="sending" /> 
                <br/>
                <input type=button value=删除 @click=deletemessage(index) :disabled="sending" /> 
            </div>
            <div class="content" >
                <span class=not-editing v-if="!editing[index]" v-html="mark(message.content)" ></span>
                <textarea v-if="editing[index]"  v-model=message.content ></textarea>
            </div>
            <div class=role v-if="message.role=='user'">
                {{message.role}}
                <br/>
                <input type=button :value="editing[index]?'完成':'编辑'" @click=editmessage(index) :disabled="sending" /> 
                <br/>
                <input type=button value=删除 @click=deletemessage(index) :disabled="sending" /> 
            </div>
        </div>

        <!--
        <div >{{usage}}</div>
        -->

        <div v-html="error" ></div>
    </div>


    <div class=bottom-toolbar >

        <div id=bottom3-toolbar >
            <input id=talk style="width:100%" autofocus v-if="multi_line<2" @keypress="send2" v-model=newmessage :placeholder="selectedSpell+'请输入内容，按回车发送'" />
            <!--:disabled="sending" />-->
            <textarea id=talk autofocus :placeholder="selectedSpell+'请输入内容'" v-if="multi_line>1" :rows=multi_line v-model=newmessage ></textarea>
            <!--:disabled="sending" -->

            <input type=button @click="sendnew" :value="sending?'等待中...':'发送'" :disabled="sending" />

            <select v-model="selectedSpell" :disabled=sending style=width:100px; >
                <option v-for="s in prefix_spells" :value="s.value">{{s.name}}</option>
            </select>

            <!--
            <input type=button @click="senden" :value="sending?'等待中...':'发送🅴🅽'" :disabled="sending" />
            <input type=button @click="sendzh" :value="sending?'等待中...':'发送🈭'" :disabled="sending" />
            -->
        </div>

        <div id=bottom2-toolbar >
            <span>
                <input type=range min=1 max=50 v-model=multi_line />
                {{multi_line}}行
            </span>
            <input type=button value=保存 @click="savemessages" v-if="messages.length>0" :disabled=sending />
            <input type=button value=中断 @click="abort" v-if="messages.length>0" :disabled=failed||!sending />
            <input type=button value=重试 @click="retry" v-if="messages.length>0" :disabled=!failed />
            <input type=button value=撤回 @click="withdraw" v-if="messages.length>0" :disabled=!failed />
            <span v-if="usage.prompt_tokens" >


    <div class="tooltip">
                {{usage.prompt_tokens}}❓+{{usage.completion_tokens}}💬={{usage.total_tokens}}
        <span class="tooltiptext">
            {{usage}}
        </span>
    </div>

            </span>
            <a :href="'?'+new Date().getTime() " v-if="messages.length>0" >清空</a>
            <a :href="'?'+(new Date().getTime()+1)" target="_blank" v-if="messages.length>0" >新对话</a>
            
            <select v-model="selectedPrompt" @change="startPrompt" :disabled=sending style=width:100px; >
                <option v-for="p in prompts" :value="p.prompt">{{p.act}}</option>
            </select>
        </div>
    </div>

</div>
    <script src="./config.js"></script>
    <script src="./prefixspells.js"></script>
    <script src="prompts/prompts.js"></script>
    <script src="lib/k.js"></script>
  </body>
</html>
